<div id="stage" class="container">
  <h1>Welcome <span id="name">your name<span></h1>
  <p>You loaded this template at <span id="time"></span></p>

  <p>Add rows to the table below by filling out the form and clicking add.

    <fieldset>
      <legend>Working with Snippets</legend>
      <input id="fruit" type="text" placeholder="Fruit...">
      <input id="quantity" type="text" placeholder="Quantity...">
      <button id="fruit-btn" class="btn btn-primary">Add</button>
    </fieldset>
    
    <table>
      <thead>
	<tr><th>Fruit</th><th>quanity</th></tr>
      </thead>
      <tbody>
	<tr><td>Apple</td><td>10</td></tr>
      </tbody>
  </table></p>
</div>
